@import '~leaflet/dist/leaflet.css';
.App {
  padding:1rem 2rem;
  position:relative;
}
.heading__primary {
  font-size:3rem;
  margin-bottom:2rem;
  background: -webkit-linear-gradient(#8E2DE2,#4A00E0);
 
}
.heading__secondary {
  font-size:1.5rem;
  margin-bottom:2rem;
  background: -webkit-linear-gradient(#0F2027,#2C5364);
}
.heading__tertiary {
  font-size:1.2rem;
  margin-bottom:4rem;
  background: -webkit-linear-gradient(#2C5364,#0F2027);
}
.heading {
  text-align:center;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.container {
  position:relative;
  display:flex;
  flex-direction:column;
}
.leaflet-container {
  margin-top:6rem;
  width: 50%;
  height: 50vh;
  transform:translateX(-50%);
  left:50%;
  top:30%;
}
.search__box {
  display:flex;
  justify-content:center;
}
.search__input {
  outline:none;
  border:none;
  padding:1rem 1.5rem;
  background:whitesmoke;
  width:25%;
}
.search__button {
  outline:none;
  border:none;
  padding:.5rem 1.5rem;
  cursor :pointer;
  background:#0366ed;
  color:#fff;
  border-radius:0 20px 20px 0;
}
.error {
  margin:3rem auto;
  background:orangered;
  color:#fff;
  padding:1rem 2rem;
  display:inline-block;
}

